annotated-types==0.7.0
anyio==4.13.0
asgiref==3.10.0
cbor2==5.9.0
certifi==2026.5.20
crispy-bootstrap5==0.7
Django==5.2.7
django-crispy-forms==2.4
gunicorn==25.3.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.16
joblib==1.5.2
numpy==2.3.3
packaging==26.1
pandas==2.3.3
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
vercel==0.5.9
vercel-workers==0.0.24
websockets==16.0
whitenoise==6.12.0
